@import "modern-normalize/modern-normalize.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h1,
h2,
h3,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}


button{
  cursor: pointer;
}

img{
  display: block;
  height: 100%;
  filter: contrast(0.8);
  transition: all 1s linear;
}

img:hover{
  filter: contrast(1);
  transform: scale(1.2);
}

*::selection {
  color: #ffffff;
  background-color: #96daf0;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(59, 59, 248, 0.342);
  border-radius: 20px;
}